// COLORS
$primary-color: #834d9b;
$secondary-color: #000;

$white-color: #fff;

$dark-grey: #000;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
